include niche_vlaanderen/system_tables/*.csv
include niche_vlaanderen/system_tables/floodplains/*.csv
include niche_vlaanderen/system_tables/*.yaml
include testcase/*

include AUTHORS.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
