name: Build and Deploy documentation
on:
  push:
    branches: [master, docs]
  workflow_dispatch:
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1

      - name: get build deps
        run: |
          sudo apt install pandoc
          pip install -r doc-requirements.txt

      - name: build docs
        run: |
          pip install .
          cd docs
          make html

      - name: Deploy documentation
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html
