---
name: publish Python package

on:
  push:
  pull_request:
    branches: [master]

publish_package:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]
        fail-fast: [true]

    steps:
      - uses: actions/checkout@v2
      - name: build package
        run: |
          sudo apt-get -y install libgdal-dev gdal-bin pandoc
          python -m pip install --upgrade pip
          pip install coveralls wheel
          pip install -r dev-requirements.txt
          pytest --cov niche_vlaanderen --verbose --tb=long
          python setup.py build

      - name: Publish package
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
