---
name: Python tests

on:
  push:
  pull_request:
    branches: [master]

jobs:
  windows-conda-tests:
    runs-on: "windows-latest"
    steps:
      - uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: "latest"
          environment-file:
      - name: Checkout
        uses: actions/checkout@v2.3.1
      - name: PowerShell
        shell: powershell
        run: |
          conda install pandas pyyaml rasterio fiona
          pip install -e .
          pip install -r dev-requirements.txt coverage
          pytest --cov niche_vlaanderen --cov-report xml --verbose --tb=long
      - name: Upload coverage
        run: |
            python -m pip install coveralls
            coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  linux-pip-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9, 3.10]
        fail-fast: [false]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt-get -y install libgdal-dev gdal-bin pandoc
          python -m pip install --upgrade pip
          pip install coveralls wheel
          ls
          pip install -r dev-requirements.txt
          pytest --cov niche_vlaanderen --cov --verbose --tb=long
      - name: Upload coverage
        run: |
          python -m pip install coveralls
          coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
